/* Features.css */

.features-container {
  cursor: default;
    text-align: center;
    margin-top: -200px;
    
   
  }
  
  .features-list {
    display: flex;
    justify-content: center; /* Center features horizontally */
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    
  }
  
  .feature {
    text-align: center;
    padding: 20px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    margin: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Added a smooth transition for hover effect */
    background-color: #FEFEDF;
  }
  
  .feature:hover {
    transform: scale(1.05); /* Scale up by 5% on hover */
  }
  
  .feature-icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    color: #555;
    line-height: 1.4;
  }
  