.vision-container {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    background-color: black;
    height: auto;
  }
  
  .vision-header {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .vision-title {
    text-align: left;
    font-size: 4.5em;
    opacity: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background: linear-gradient(to right, #ffffff, #121111); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  

  .vision-inner {
    padding: 100px 140px 0 140px;
  }
  
  .vision-intro{
    padding-top: 30px;
    height: max-content;
    display: flex;
    align-items: center;
    text-align: left;
    max-width: 470px;
    color: white;
    padding-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-optical-sizing: auto;
    font-style: normal;
  
  }

  .vision-intro p {
    line-height: 1.4;
    font-size: 1.3rem;
    color: white;
  }

  .vision-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .vision-img img {
    width: 500px;
    padding-top: 30px;
  
  }

  @keyframes curved-fade {
    0% {
      transform: translateY(-50%) translateX(-50%) translateZ(-50px) rotateX(-90deg) rotateY(-90deg) rotateZ(-90deg) scale(0);
      opacity: 0;
    }
    100% {
      transform: translateY(0%) translateX(0%) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);
      opacity: 1;
    }
  }
  
  .active_header {
    animation: curved-fade 2s ease-in-out;
    opacity: 1;
  }
  @media screen and (max-width: 1024px) {
    .vision-bottom {
      flex-direction: column;
      border: 1px solid rgb(86, 82, 82);
      row-gap: 50px;
    }


  .vision-inner {
    padding: 10px 50px 50px 50px;
  }

  .vision-intro {
    max-width: 700px;
  }

  .vision-intro p{
    padding-top: 20px;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .vision-img img {
    padding-bottom: 100px;
    width: 650px;
  
  }

  .vision-bottom hr {
    width: 100%;
    border: 1px solid rgb(86, 82, 82);
    margin: 0;
  }


  }