/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 63px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93vh;
    background-color: rgba(0, 0, 0, 1); /* Black color with full opacity */
}

img {
    margin-top: -100px;
    width: 100%;
    height: 105vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    opacity: 0.5; /* Adjust the image opacity as needed */
}

.intro {
    position: absolute;
    top: 20px; /* Adjust top position as needed */
    left: 20px; /* Adjust left position as needed */

}
 .intro p {
    color: #000000;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-weight: bolder;
 }

 .home-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
    gap: 0px;
    margin-top: -150px;

 }


.home-card {
    width: 170px;
    height: 130px;
    margin-top: -50px;
    left: 20px; /* Adjust the left position of the card */
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 3; /* Ensure the card is above other content */
    background: rgba( 255, 255, 255, 0.3 );
    background: rgba( 255, 255, 255, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
}

.home-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.home-card p {
    font-size: 16px;
    margin: 0;
}

#pay-bill-icon {
    border: 1px solid black;
    border-radius: 50%;
}
.home-card img {
    text-decoration: none;
    width: 20px;
}