/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 63px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1); /* Black color with full opacity */
}

img {
    width: 100%;
    max-height: 100vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    opacity: 0.5; /* Adjust the image opacity as needed */
}

.intro {
    position: absolute;
    top: 20px; /* Adjust top position as needed */
    left: 20px; /* Adjust left position as needed */

}
 .intro p {
    color: #000000;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-weight: bolder;
 }
