/* Contact.css */

.outer {
    max-width: 100%;
    background-color: rgb(10, 10, 10);
    padding: 20px;
    color: white; /* Set text color to white */
    font-family: 'Arial', sans-serif; /* Choose an appropriate font family */
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.inner {
    padding: 20px;
}

input {
    margin: 10px 0;
    padding: 10px;
}

.submit-btn {
    height: ;
    background-color: #ff5722; /* Choose a button color */
    color: white;
    cursor: pointer;
}

.contact-links {
    display: flex;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.contact-links img {
    height: 20px;
    width: 20px;
}
p {
    font-size: 18px;
}
