.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    align-items: center;
    z-index: 100;
    transition: top 0.5s;
    height: 8vh;
    background-color: #f0e9e9;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.menu-toggle {
    padding-right: 0px;
    display: none;
    font-size: 1.7rem;
}


.navbar.active {
    top: 0;
    
}

.navbar.hidden {
    top: -5rem;
}


@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.logo h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 10px;
    color: #000000;
    text-transform: uppercase;
    animation: fadeIn 2s ease;
    font-weight: 550;
    padding-right: 40px;
    font-size: 1.5rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-links {
    display: flex;
    gap: 40px;
    animation: slideIn 1s ease;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 510;
    padding-right: 40px;
    font-size: 1.7rem;
}


.nav-links a {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}


@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-link {
    flex-direction: column;
    justify-content: space-between;
    position: relative; 
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    background: linear-gradient(to right, #000000, #b62727);
    transition: width 0.7s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    background: linear-gradient(to right, #000000, #b62727); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 550;
    transition: font-weight 0.001s ease;
    
}


@media screen and (max-width: 768px) {

    .nav-links {
        flex-direction: column;
        gap: 20px; 
        padding-left: 20px;
        background-color: white;
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
    
        height: 100vh;
        transition: transform 3s ease; 
        transform: translateX(100%);
        transition: transform 1s ease;
    }
    
    .nav-links.open {   
        transform: translateX(0); 
    }
    .nav-link {
        padding: 20px 20px;
        text-align: center;
        font-size: 2rem;
        
    }

    .menu-toggle {
        cursor: pointer;
        display: block; 
    }


}