#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-animation span {
  display: inline-block;
  font-size: 50px;
  background: linear-gradient(to right, #000000, #b62727); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 75px;
}

.loading-animation span:nth-child(1) {
  animation: letterAnimation 2s infinite alternate;
}

.loading-animation span:nth-child(2) {
  animation: letterAnimation 2s infinite alternate;
  animation-delay: 0.2s; 
}

.loading-animation span:nth-child(3) {
  animation: letterAnimation 2s infinite alternate;
  animation-delay: 0.4s; 
}
.loading-animation span:nth-child(4) {
  animation: letterAnimation 2s infinite alternate;
  animation-delay: 0.6s;
}
.loading-animation span:nth-child(5) {
  animation: letterAnimation 2s infinite alternate;
  animation-delay: 0.8s;
}
.loading-animation span:nth-child(6) {
  animation: letterAnimation 2s infinite alternate;
  animation-delay: 1s; 
}

@keyframes letterAnimation {
  0% { transform: scale(1); } 
  100% { transform: scale(2.8); } 
}
